<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="restaurant viral is a application to search restaurant with easy and simple">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#F8DBD8" />

  <link rel="apple-touch-icon" href="/icon/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" type="image" href="./icon/favicon.ico">

  <title>Welcome - find your dream restaurant</title>
</head>

<body>

  <!-- skip to content -->
  <button class="skip-to-content tf-capitalize" aria-label="skip to content">
    skip to content
  </button>

  <!-- online or offline -->
  <div id="check"></div>

  <!-- header -->
  <header>
    <app-bar></app-bar>
  </header>

  <!-- main -->
  <main id="main-content" tabindex="0"></main>

  <!-- footer -->
  <footer>
    <content-footer></content-footer>
    <div class="copyright-text">
      copyright &#169;&nbsp;2023 - M Fathurrohman Mauludin
    </div>
  </footer>

</body>

</html>